:root {
    --red: #D32F2F ;
    --light-pink: #FFCDD2;
    --ligth-gray: #EEEEEE;
    --white: #FFFFFF;
    --black: #000000;
    --dark-grey: #9E9E9E;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
}
nav {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}
nav img {
  width: 2rem;
  height: 2rem;
}
nav img.logo {
    width: 5rem;
    height: 5rem;
    margin-left: 30px;
}
.portada {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 320px;
    padding: 20%;
    font-size: 1.5rem;
    background-image: url('../img/hamburgesa-portada.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.portada h1 {
    background-color: var(--light-pink);
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
}
.portada p {
    background-color: var(--ligth-gray);
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
.portada button {
    background-color: var(--red);
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
}


.footer-container {
    font-size: 3rem;
    display: flex;
    width: 100%;
    background-color: var(--red);
    color: var(--white);
    padding: 10%;
}

.footer-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.footer-social-media {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 3rem;
}

.footer-container li {
    /* display: ; */
    margin-top: 2rem;

}

.footer-container li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: var(--white);
    border-radius: 50%;
}

.footer-container img {
    width: 50px;
    height: 50px;
}


